/* About.module.css */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  background-color: #d2b48c;
}

.container {
  display: flex; /* Enables Flexbox layout */
  gap: 1rem; /* Adds spacing between items */
  align-items: center; /* Optional: vertically center items within the container */
  flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  margin: 1rem;
  width: 70%; /* Make the card take 70% of the screen */
  max-width: 1200px; /* Limit the maximum width */
  animation: fadeInUp 1s ease-out; /* Apply the animation */
}

.card h2,
.card h1 {
  margin-top: 0;
  color: #6f4e37; /* Coffee color for headings */
  font-size: 1.5rem;
}

.card h3,
.card h4 {
  font-size: 1.3rem;
}

.card p,
.card ul {
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify; /* Justify text in paragraphs and lists */
}

.awardsList {
  list-style-type: none; /* Remove bullet points */
  padding-left: 0;
}

.awardsList li {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: flex-start;
}

.awardsList li::before {
  content: "•"; /* Custom bullet */
  color: #6f4e37; /* Coffee color for the bullet */
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-right: 0.5em;
}

.divider {
  border: none;
  height: 1px;
  background: #6f4e37;
  margin: 1.5rem 0;
}

.divider {
  height: 1.5px;
  background: #a2725067;
  border: None;
}

.subDivider {
  height: 1px;
  border: None;
  background: #a2725043;
}

@media (max-width: 768px) {
  .card {
    width: 85%;
  }
  .card h2,
  .card h1 {
    font-size: 1.1rem;
  }

  .card h3,
  .card h4 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.9rem;
  }

  .card ul {
    font-size: 0.8rem;
  }

  .awardsList li {
    font-size: 0.8rem;
    display: inline-block;
    line-height: 1.5;
  }
}
