body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  background-color: #1e1e1e; /* Dark background */
  color: #e5e5e5; /* Light grey text for contrast */
  overflow-x: hidden;
  min-height: 100vh;
}

h1,
h2 {
  font-size: 0.9rem;
  color: #6e4b3a; /* Dark brown for headers */
}

h3 {
  font-size: 0.85rem;
}

p,
ul {
  font-size: 0.8rem;
  line-height: 1.8;
  text-align: left; /* Left-aligning text */
}

ul {
  list-style: none;
  font-size: 0.8rem;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

@media (max-width: 768px) {
  h1,
  h2 {
    font-size: 0.8rem;
    color: #6e4b3a; /* Dark brown for headers */
  }

  p,
  ul {
    font-size: 0.7rem;
    line-height: 1.1;
    text-align: left; /* Left-aligning text */
  }

  ul {
    list-style: none;
    font-size: 0.7rem;
    padding: 0;
  }

  ul li {
    margin: 10px 0;
  }
}
