/* Home.module.css */
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  background-color: #d2b48c; /* Light coffee background */
}

.container {
  display: flex; /* Enables Flexbox layout */
  gap: 1rem; /* Adds spacing between items */
  align-items: center; /* Optional: vertically center items within the container */
  flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  display: flex;
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  margin: 1rem;
  width: 70%; /* Make the card take 70% of the screen */
  max-width: 1200px; /* Limit the maximum width */
  animation: fadeInUp 1s ease-out; /* Apply the animation */
}

.card h2,
.card h1 {
  margin-top: 0;
  color: #6f4e37; /* Coffee color for headings */
  text-align: justify;
  font-size: 1 rem;
}

.card p,
.card ul {
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify; /* Justify text in paragraphs and lists */
  font-size: 0.9 rem;
}

.imageContainer {
  flex: 1;
}

.textContainer {
  flex: 10;
  padding-left: 1rem;
  align-self: center;
}

.image {
  width: 100%;
  max-width: 100px;
  border-radius: 8px;
}

.iconContainer {
  display: flex;
  gap: 1rem;
}
