/* Navbar.module.css */
.navbar {
  background-color: #3e3935; /* Coffee color for the navbar */
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow to navbar */
  position: sticky;
  top: 0px;
  z-index: 100;
  display: flex; /* Align items horizontally */
  justify-content: space-between; /* Space out logo and menu */
  align-items: center;
  /* transition: opacity 0.5s ease; */
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-around; /* Space items evenly */
  margin: 0;
  padding: 0;
  flex: 1; /* Take up remaining space */
  font-size: 0.8rem;
}

.navItem {
  font-size: 0.8rem;
}

.navItem a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navItem a:hover {
  color: #563e2d; /* Hover effect for navbar links */
}

/* Styles for the menu icon and responsive behavior */
.menuIcon {
  display: none; /* Hide menu icon by default */
  font-size: 1.3rem;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: None;
}

/* Updated CSS for small screens */
@media (max-width: 768px) {
  .navList {
    display: none; /* Hide nav list on small screens by default */
    flex-direction: column; /* Stack items vertically */
    width: 100%; /* Full width for the menu */
    background-color: #3e3935; /* Background color for the dropdown menu */
    position: absolute;
    top: 30px; /* Adjust based on your navbar height */
    padding-left: 2rem;
    left: 0;
    z-index: 100;
  }

  .navList.active {
    display: flex; /* Show nav list when active */
  }

  .menuIcon {
    display: block; /* Show menu icon on small screens */
  }
}
