/* Footer.module.css */
.footer {
  background-color: #6f4e37; /* Coffee color for the footer */
  padding: 0.3rem;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); /* Add shadow to footer */
  width: 100%;
  text-align: center;
  margin-top: auto;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 100; /* Positive z-index to ensure visibility */
  flex-shrink: 0;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem;
}

.copyright {
  color: #fff;
  font-size: 0.7rem;
}

.iconContainer {
  display: flex;
  gap: 1rem;
}

.footerIcon {
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footerIcon:hover {
  color: #ff6347; /* Hover effect for footer icons */
}
