/* components/AnimatedFront/AnimatedFront.module.css */
.animatedFront {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d2b48c; /* Light coffee background */
  color: #6f4e37; /* Coffee color for text */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  opacity: 1;
  transition: opacity 3s ease-out; /* Transition for fade-out effect */
}

.fadeOut {
  opacity: 0;
}
