.main {
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 80vh;
  background-color: #d2b48c;
}

.container {
  padding: 2rem;
  background-color: #d2b48c;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card h2,
.card p {
  margin-top: 0;
  color: #333;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.githubButton {
  display: flex;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.githubIcon {
  margin-right: 0.5rem;
  width: 24px;
}

.expandButton {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.expandButton:hover {
  background-color: #555;
}

.markdown {
  margin-top: 1rem;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 5px;
  overflow: hidden;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem; /* Adding space at the bottom */
}

.pageButton {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.pageButton:disabled {
  background-color: #999;
}
